body {
  background-color: antiquewhite;
}

img {
  height: 250px;
  width: 100%;
}

.grid-overview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em;
}

@media (min-width: 700px) {
  .grid-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1100px) {
  .grid-overview {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-element {
  margin: 2.5px;
  padding: 2.5px;
  background-color: cornsilk;
}
