body {
  background-color: antiquewhite;
}

img {
  height: 100%;
  width: 200px;
}

/* .grid-overview {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em;
} */

/* 
@media (min-width: 700px) {
  .grid-overview {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 11000px) {
  .grid-overview {
    grid-template-columns: 1fr 1fr 1fr;
  }
} 
*/
